.color{

    background-color: bisque;
}

.highlight{
    background-color:yellow ;
    color: red;
}


.oculto{

    display: none;
}

#magic{
    width: fit-content;
    height: auto;
    position: relative;
    left: 40%;


}