html{
    scroll-behavior: smooth;
}


.container-fluid{
    display: flex;
     flex-direction: row;

}

.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-white{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 35%;
    padding-left: 2cm;
    color: #919191;
}

.lista{
    position: relative;
    left:5%;
}

#titulo{
    margin-top: 2cm;
}
.objetivo{
    
    position: relative;
    width: 80%;
    left: 10%;
    
}



.reclamos{
    margin-top: 2cm;
    position: relative;
    width: 80%;
    left: 10%;
}
.form-select:hover{
    cursor: pointer;
}


.form-control:hover{
    cursor: text;
}
#boton{
    display: flex;
    position: relative;
    left: 94.5%;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.conoceme{
   position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    margin-top: 2cm;
    position: relative;
    width: 80%;
    left: 10%;
}

.derechos{
    background-color: #bfbfbf;
    margin-top: 3cm;
    height: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #919191;
    
}